<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou dossier existe, on le sert directement
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Sinon, on redirige tout vers index.php
    RewriteRule ^ index.php [L]
</IfModule>
